# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуальные окружения
venv/
env/
.venv/
ENV/

# macOS
.DS_Store

# IDE / редакторы
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# Логи и временные файлы
*.log
*.tmp

# Кэш Streamlit
.streamlit/secrets.toml
